extends ../template.pug

block title
  |#{gigData.shortTitle}

block content
  p(style='text-align: center;')
    a(href=gigData.link class='button') View in Giggity

  h3 Details
  table

    each field, key in gigData.bandDetails
      tr
        td.label #{key}
        td.value !{field}
  hr/
  h3 Public Details
  table
    each field, key in gigData.publicDetails
      tr
        td.label #{key}
        td.value !{field}
